[submodule "external/uvw"]
	path = external/uvw
	url = https://github.com/skypjack/uvw.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
